@font-face {
  font-family: 'Virgil';
  src: url('/virgil.woff2') format('woff2');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@import 'tailwindcss';

@theme {
  --font-virgil: 'Virgil', sans-serif;
}
